	#left {
		float: left;
		width: 47%;
		margin-left: 2%;
		margin-right: 2%;
		background-color: #606;
		color: #f9f;
		}

	#right {
		float: left;
		width: 47%;
		background-color: #039;
		color: #9cf;
		}		
